<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>London Baker - Full Stack Developer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/font-awesome/css/font-awesome.min.css">

</head>

<body id="articles">
    <header id="main_navigation" class="flex-container">
        <a href="/" class="name contactName">London Baker | Web Developer</a>

    </header>

    <h1 id="page_title">Say Hello</h1>

    <div class="contact skinny_wrapper wrapper_padding">
        <label>Name</label>
        <input type="text">

        <br>

        <label>Email</label>
        <input type="text">

        <br>

        <label>Message</label>
        <textarea></textarea>

        <br>

        <input type="submit" value="Send Message" class="button">




    </div>
    


    <footer id="main_footer" class="flex-container">
        <p class="copyright">&copy; 2017 London Baker</p>
        <nav>
            <a href="https://www.linkedin.com/in/london-baker-536270147/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>

        </nav>
    </footer>

    </html>