<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>London Baker - Full Stack Developer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/font-awesome/css/font-awesome.min.css">

</head>

<body id="homePage">
    <header id="main_navigation" class="flex-container">
        <a href="/" class="name">London Baker | Web Developer</a>
        <nav>
            <a href="/home/projects">Projects</a>
            <a href="/home/articles">Articles</a>
            <a href="#">Contact</a>
        </nav>

    </header>

    <div class="wrapper wrapper_padding homepage_content">
        <div class="flex-container">
            <div class="about">
                <h2>About</h2>
                <hr>
                <p>I'm a Web Developer based in Atlanta GA. I make nice UI.</p>
                <p>By day I code and by night I code.<a href="#"> Thinkful.</a></p>
                <hr>

            </div>
            <div class="writings homepage_content">
                <h2>Articles</h2>
                <hr>
                <h3>To Do List</h3>
                <p class="date">Friday April 10th</p>
                <h3>How to be Great</h3>
                <p class="date">Friday April 10th</p>
                <h3>To Do List</h3>
                <p class="date">Friday April 10th</p>
                <hr>


            </div>
            <div class="builds homepage_content">
                <h2>Projects</h2>
                <hr>
                <h3>Geo Wiki</h3>
                <p class="date">Friday April 10th</p>
                <h3>Spoiled Veggies</h3>
                <p class="date">Friday April 10th</p>
                <h3>Picture Esque</h3>
                <p class="date">Friday April 10th</p>
                <hr>

            </div>
        </div>
    </div>

</body>

<footer id="main_footer" class="flex-container">
        <p class="copyright">&copy; 2017 London Baker</p>
        <nav>
            <a href="https://www.linkedin.com/in/london-baker-536270147/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
           
        </nav>
    </footer>

</html>