<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>London Baker - Full Stack Developer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/font-awesome/css/font-awesome.min.css">

</head>

<body id="projects">
    <header id="main_navigation" class="flex-container">
        <a href="/" class="name">London Baker | Web Developer</a>
        <nav>
            <a href="#">Projects</a>
            <a href="articles">Articles</a>
            <a href="#">Contact</a>
        </nav>

    </header>

    <h1 id="page_title">Things I've Built</h1>
    <div id="posts_wrapper" class="skinny_wrapper">
        <div class="post">
            <p class="date">Friday April 10th</p>
            <h2><a href="#">Picture Esque</a></h2>
            <hr>
        </div>
        <div class="post">
            <p class="date">Friday April 10th</p>
            <h2><a href="#">Spoiled Veggies</a></h2>
            <hr>
        </div>
        <div class="post">
            <p class="date">Friday April 10th</p>
            <h2><a href="#">GeoWiki</a></h2>
            <hr>
        </div>

    </div>

    <div class="pagination">
        <span class="previous_page disabled">< Previous</span>
        <em class="current">1</em>
        <a rel="next" href="#">2</a>
        <a class="next_page" href="#">Next ></a>
    </div>



    <footer id="main_footer" class="flex-container">
        <p class="copyright">&copy; 2017 London Baker</p>
        <nav>
            <a href="https://www.linkedin.com/in/london-baker-536270147/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>

        </nav>
    </footer>

    </html>